.spinner {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
  
  .spinner img{
    position: center;
    animation: fade 5s linear 0s infinite;
    padding-right: 1rem;
  }
  
  @keyframes bigger {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(10);
    }
  }
  
  @keyframes fade {
    from {
      opacity: 3;
    }
    to {
      opacity: 3;
    }
  }

  * {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
        url(../images/home.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    column-gap: 30px;
}

.form {
    width: 100%;
    max-width: 450px;
    background: white;
    border-radius: 6px;
    padding: 30px;
    position: absolute;
}

.form.signup {
    opacity: 0;
    pointer-events: none;
}

.forms.show-signup .form.signup{
    opacity: 1;
    pointer-events: auto;
}

.forms.show-signup .form.login {
    opacity: 0;
    pointer-events: none;
}

header {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

form {
    margin-top: 30px;

}

form .field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.field input, .field button {
    height: 100%;
    width:  100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}

.field input {
    font-size: 16px;
    font-weight: 400;
    padding: 0 15px;
    border: 1px solid #CACACA;
}
.field input:focus {
    border-bottom-width: 2px;
}

.field button {
    color: white;
    background-color: darkblue;
    transition: all 0.3s ease;
    cursor: pointer;
}
.field button:hover {
    background-color: darkblue;
}

.form link {
    text-align: center;
    margin-top: 10px;
}

.eye-icon {
    font-size: 18px;
    color: lightgray;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 5px;
}

.form-link {
    text-align: center;
    margin-top: 10px;
}

.form-link span, 
.form-link a {
    font-size: 14px;
    font-weight: 400;
}

.form a {
    text-decoration: none;
    color: darkblue;
}

.form a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 700px){
    .form {
        padding: 15px 1;
    }
}
