html {
  scroll-behavior: smooth;
}

.headerow {
  min-height: 100vh;
  width: 100%;
  /* Linear Gradient adds shading to the background picture */
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../images/growpage.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.grow-text-box {
  text-align: center;
}
/* This is inherited by the nav-links class because both hero and nav-links are under the same parent node (<section></section>*/
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  border: 1px solid darkgoldenrod;
  background: darkgoldenrod;
  transition: 1s;
}

nav .fa-solid {
  display: none;
}

/*******Section 1*******/
.courses {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.course-col {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.course-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/*****End of section 1*****/

/*****Section 2*****/
.campus {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.campus-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.campus-col img {
  width: 100%;
  display: block;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover {
  background: #0c2d48;
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}

/*****End of Section 2*****/

/*****Section 3*****/
.services {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.services-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}

.services-col img {
  width: 100%;
  border-radius: 10px;
}

.services-col p {
  padding: 0;
}

.services-col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}

/*****End of Section 3*****/

/*****Section 4*****/
.reviews {
  width: 80%;
  margin: auto;
  text-align: center;
}

.reviews-col {
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: #fff3f3;
  padding: 25px;
  cursor: pointer;
  display: flex;
}

.reviews-col img {
  height: 40px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}

.reviews-col p {
  padding: 0;
}

.reviews-col h3 {
  margin-top: 15px;
  text-align: left;
}

.reviews-col .fa-solid {
  color: black;
}

.reviews-col .fa-regular {
  color: black;
}

@media (max-width: 700px) {
  .reviews-col img {
    margin-left: 0px;
    margin-right: 15px;
  }
}

/*****End of Section 4*****/

/*****Section 5*****/
.cta {
  margin: 100px auto;
  width: 80%;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}

.cta h1 {
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}

@media (max-width: 700px) {
  .cta h1 {
    font-size: 24px;
  }
}

/*****End of Section 5*****/

/*****Last Section*****/
#popupForm {
  width: auto;
  height: auto;
  padding: 50px 0;
  text-align: center;
  background-color: white;
}

.loginPopup {
  width: 50%;
  margin: auto;
  text-align: center;
  padding-top: auto;
  padding-bottom: auto;
  height: auto;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

/*****End of Last Section*****/
